.wrapper{
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
}

.sidebar{
  width: fit-content;
  min-height: 100vh;
  background-color: #242625;
  color: #C0BFBD;
  position: relative;
  box-sizing: border-box;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Open Sans";
  font-size: 18px;
}
.sidebar:hover{
  width: 250px;
}
.sidebar:hover .title{
  display: block;
}
.sidebar:hover .user-info{
  display: block;
}
.sidebar:hover .control{
  transform: rotate(180deg);
  right: -10px;
}
.sidebar:hover .switch{
  display: block;
}

.control{
  width: 20px;
  height: 20px;
  background-color: #A492FF;
  border-radius: 50%;
  position: absolute;
  top: 39px;
  right: -12px;

}

.userInfo-container{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 15px;
}

.user-info{
  display: none;
}

.user-login{
  font-weight: 700;
  line-height: 1; 
}

.user-email{
  font-size: 14px;
  font-weight: 400; 
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: 140%;
}

.menu{
  flex-grow: 1;
}

li{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 12px;
  cursor: pointer;
  border-radius: 10px;
}
li:last-child{
  margin: 0;
}
li:hover{
  background-color: #424444;
}

.title{
  display: none;
  flex-grow: 1;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch{
  display: none;
}
.switch input{
  display: none;
}
.switch label{
  display: flex;
  align-items: center;
  width: 50px;
  height: 24px;
  background-color: #424444;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0px 0px 3px 1px white;
}
.switcher{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  background-image: url(../public/icons/l_mode_sm.svg);
  background-repeat: no-repeat;
  background-size: 65% 65%;
  background-position: center;
  background-color: #fff;
  transition: all .3s;
}
.switch input:checked + label > .switcher{
  background-color: #1E2020;
  left: 27px;
  background-image: url(../public/icons/d_mode_sm.svg);
  background-size: 80%;
  transform: rotate(360deg);
}